[Unit]
Description=faduinod
StartLimitIntervalSec=100
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=/home/recipelab/catkin_ws/src/faduino/daemon/systemd
ExecStart=/home/recipelab/catkin_ws/src/faduino/daemon/systemd/faduinod.sh
User=root
Group=root
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
